.accordion {
  background: #f6f6f673;
  border-radius: 10px;

  button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    font-weight: 500;
    background-color: #ff6060;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
    transition: transform 0.2s ease-out;
  }

  .open {
    transform: rotate(0deg);
    transition: transform 0.2s ease-in;
  }

  .close {
    transform: rotate(180deg);
    transition: transform 0.2s ease-in;
  }
}

.content {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding-left: 10px;
  overflow: "hidden";
  transition: "height 0.3s ease-in-out";
}
