.info-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;

  .info-container_title {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .info-container_host {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.detail-container {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .description {
    width: 49%;
  }

  .equipments {
    width: 49%;
  }
}
