.banner {
    background-image: url(../../assets/banner.jpeg);
    background-size: cover;
    background-position: center;
    height: 223px;
    border-radius: 25px;
    filter: brightness(0.5); /* Apply filter to the .banner container */
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    span {
        position: absolute;
        width: max-content;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        font-size: 48px;
        font-weight: bold;
        filter: none; /* Remove filter from the span */
    }
}

